body{
		background-color: #D6CFB1;

	
}

button{

	  	font-size:15px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#638cb5;
        border:0px;
        width:120px;
        height:30px;
        border-radius: 10px;
	
}

.textbox{
  		border: 1px solid #DBE1EB;
  		font-size: 18px;
  		font-family: Verdana,Helvetica;
 		 padding-left: 7px;
 		 padding-right: 7px;
 		 padding-top: 10px;
  		padding-bottom: 10px;
  		border-radius: 10px;
  		background: #FFFFFF;
  		background: linear-gradient(left, #FFFFFF, #F7F9FA);
  		background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  		background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  		background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  		color: #2E3133;
  }

  label{
  		font-size: 18px;
  		font-family: Verdana,Helvetica;


  }